body {
    font-family: Arial, sans-serif;
    background-color: #272727;
    margin: 0px;
    padding: 30px;
    
}

p {
    color: white;
    font-size: 16px;
    line-height: 1.5;
}

h2 {
    color: rgb(175, 175, 175);
    font-size: 24px;
    margin-bottom: 40px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 0 15px;
}

footer {
    text-align: center;
    margin-top: 40px;
    color: rgb(173, 173, 173);
    font-size: 16px;
}

#relogio {
  margin-top: 20px;
  font-size: 18px;
  color: white;
  text-align: center;
  font-family: monospace;
}


.foto {
    
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
}

.foto img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.conteudo {
    margin: 2px auto;
    max-width: 600px;
    text-align: center;
    align-items: center;
}  

.links {
    width: 600px auto;
    height: 40%;
    display: flex;
    line-height: 40px;
    justify-content: center;
    text-align: center;
    background-color: rebeccapurple;
    border-radius: 8px;
    margin: 10px auto;
}

.links:hover {
    background-color: rgb(32, 15, 49);
    transition: 0.3s;
}